html {
  background-color: chartreuse;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.container2,
.container3,
.container4 {
  padding-top: 7vh;
  padding-bottom: 7vh;
}
.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 5vh;
}
.mainNavContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;
  font-size: 4vh;
}

.container2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.aboutUser {
  border-radius: 12px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(160, 247, 218);
  min-width: 70vh;
  max-height: 40vh;
  font-size: 4vh;
}
.aboutMe {
  align-self: center;
}
.container3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.heroCard {
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5vh;
}

img.characterPic {
  width: 100%;
  height: 40vh;
  border-radius: 1vh;
}

.comicBookCard {
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5vh;
  min-width: 12vh;
  max-width: 50vh;
  min-height: 12vh;
  max-height: 55vh;
}
img.favComicbookPic {
  min-height: 20vh;
  min-width: 10vh;
  height: 40vh;
  border-radius: 1vh;
}

.container4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-width: 12vh;
}
