.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 5vh;
}
.mainNavContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;
  font-size: 3vh;
}
/* .mainLogoItem {
  align-self: stretch;
} */
/* .row1Item {
} */
