input,
.navHeader {
  width: 80%;
  text-align: center;
}
.searchButton {
  position: fixed;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.navHeader {
  align-self: center;
  flex-shrink: 0;
}

/* .navSearch {

} 
.navSearch:nth-last-of-type(1) {
 
} */
